@font-face {
                font-family: "Montserrat-SemiBold"; font-style: normal; src: url('@/assets/fonts/Montserrat-SemiBold_1.ttf'); font-weight: 600
            }
@font-face {
                font-family: "Montserrat-Medium"; font-style: normal; src: url('@/assets/fonts/Montserrat-Medium_1.ttf'); font-weight: 500
            }