.fill-material-themesyslightbackground-1_37 {
        background-color: rgba(255, 251, 255, 1)
      }
.fill-material-themesyslightprimary-container-1_23 {
        background-color: rgba(223, 224, 255, 1)
      }
.fill-material-themesyslighttertiary-container-1_31 {
        background-color: rgba(255, 215, 239, 1)
      }
.fill-material-themeread-onlylightsurface1-1_160-paragraph {
        color: rgba(255, 251, 255, 1)
      }
.fill-material-themesyslightsecondary-1_25-paragraph {
        color: rgba(92, 93, 114, 1)
      }
.fill-material-themesyslightprimary-1_21 {
        background-color: rgba(53, 62, 251, 1)
      }
.fill-material-themesyslighton-primary-1_22-paragraph {
        color: rgba(255, 255, 255, 1)
      }
.text-cn-regular16-1_1862 {
        font-size: 16px;
font-family: "PingFang SC-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 24px
      }
.fill-material-themesyslighton-surface-1_40-paragraph {
        color: rgba(27, 27, 31, 1)
      }
.text-h1-6_419 {
        font-size: 48px;
font-family: "PingFang SC-Semibold";
font-weight: Semibold;
letter-spacing: 0em;
line-height: 56px
      }
.fill-material-themesyslighton-surface-1_40-text {
        color: rgba(27, 27, 31, 1)
      }
.fill-material-themesyslightprimary-1_21-paragraph {
        color: rgba(53, 62, 251, 1)
      }
.text-cn-medium20-1_1863 {
        font-size: 20px;
font-family: "PingFang SC-Medium";
font-weight: Medium;
letter-spacing: 0em;
line-height: 28px
      }
.fill-material-themeread-onlylightsurface1-1_160 {
        background-color: rgba(255, 251, 255, 1);
background-image: linear-gradient(90deg, rgba(53, 62, 251, 0.05) 0%, rgba(53, 62, 251, 0.05) 100%)
      }
.text-cn-regular14-1_1870 {
        font-size: 14px;
font-family: "PingFang SC-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 22px
      }
.text-cn-medium16-4_1302 {
        font-size: 16px;
font-family: "PingFang SC-Medium";
font-weight: Medium;
letter-spacing: 0em;
line-height: 24px
      }
.text-en-medium16-6_326 {
        font-size: 16px;
font-family: "Nunito Sans-SemiBold";
font-weight: SemiBold;
letter-spacing: 0em;
line-height: 24px
      }
.text-cn-regular20-6_422 {
        font-size: 20px;
font-family: "PingFang SC-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 28px
      }
.text-cn-medium24-6_385 {
        font-size: 24px;
font-family: "PingFang SC-Medium";
font-weight: Medium;
letter-spacing: 0em;
line-height: 32px
      }
.fill-material-themesyslightsurface-1_39 {
        background-color: rgba(255, 251, 255, 1)
      }
.text-en-medium20-6_327 {
        font-size: 20px;
font-family: "Nunito Sans-SemiBold";
font-weight: SemiBold;
letter-spacing: 0em;
line-height: 28px
      }
.fill-material-themesyslightsecondary-container-1_27 {
        background-color: rgba(225, 224, 250, 1)
      }
.fill-material-themesyslighton-secondary-container-1_28-text {
        color: rgba(25, 26, 44, 1)
      }
.text-cn-regular24-21_1962 {
        font-size: 24px;
font-family: "PingFang SC-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 32px
      }
.fill-material-themeread-onlylightsurface2-1_161 {
        background-color: rgba(255, 251, 255, 1);
background-image: linear-gradient(90deg, rgba(53, 62, 251, 0.08) 0%, rgba(53, 62, 251, 0.08) 100%)
      }
.stroke-material-themesyslighton-surface-1_40 {
        border-color: rgba(27, 27, 31, 1)
      }
.fill-material-themesyslighttertiary-1_29-paragraph {
        color: rgba(121, 83, 107, 1)
      }
.text-cn-regular12-25_391 {
        font-size: 12px;
font-family: "PingFang SC-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 20px
      }
.fill-black48-25_390-paragraph {
        color: rgba(17, 37, 56, 0.48)
      }
.fill-常规-6brand-1_1141 {
        background-color: rgba(22, 93, 255, 1)
      }
.fill-悬浮-5brand-1_1142 {
        background-color: rgba(64, 128, 255, 1)
      }
.fill-按下-7brand-1_1143 {
        background-color: rgba(14, 66, 210, 1)
      }
.fill-禁用-3brand-1_1144 {
        background-color: rgba(148, 191, 255, 1)
      }
.stroke-常规-6brand-1_1141 {
        border-color: rgba(22, 93, 255, 1)
      }
.stroke-悬浮-5brand-1_1142 {
        border-color: rgba(64, 128, 255, 1)
      }
.fill-浅色-1brand-1_1145 {
        background-color: rgba(232, 243, 255, 1)
      }
.stroke-按下-7brand-1_1143 {
        border-color: rgba(14, 66, 210, 1)
      }
.fill-特殊-2brand-1_1146 {
        background-color: rgba(190, 218, 255, 1)
      }
.stroke-禁用-3brand-1_1144 {
        border-color: rgba(148, 191, 255, 1)
      }
.fill-white100-1_1147-paragraph {
        color: rgba(255, 255, 255, 1)
      }
.text-14en-regular-1_1153 {
        font-size: 14px;
font-family: "Nunito Sans-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 22px
      }
.text-en-regular14-1_1154 {
        font-size: 14px;
font-family: "Nunito Sans-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 22px
      }
.text-en-regular12-1_1155 {
        font-size: 12px;
font-family: "Nunito Sans-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 20px
      }
.text-12en-regular-20-1_1156 {
        font-size: 12px;
font-family: "Nunito Sans-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 20px
      }
.fill-特殊-2brand-1_1146-paragraph {
        color: rgba(190, 218, 255, 1)
      }
.fill-常规-6brand-1_1141-paragraph {
        color: rgba(22, 93, 255, 1)
      }
.fill-悬浮-5brand-1_1142-paragraph {
        color: rgba(64, 128, 255, 1)
      }
.fill-按下-7brand-1_1143-paragraph {
        color: rgba(14, 66, 210, 1)
      }
.fill-禁用-3brand-1_1144-paragraph {
        color: rgba(148, 191, 255, 1)
      }
.text-cn-regular14-1_1177 {
        font-size: 14px;
font-family: "PingFang SC-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 22px
      }
