@font-face {
                font-family: "Roboto-Medium"; font-style: normal; src: url('@/assets/fonts/Roboto-Medium_1.ttf'); font-weight: 500
            }
@font-face {
                font-family: "Roboto-Regular"; font-style: normal; src: url('@/assets/fonts/Roboto-Regular_1.ttf'); font-weight: 400
            }
@font-face {
                font-family: "Open Sans-Bold"; font-style: normal; src: url('@/assets/fonts/OpenSans-Bold_1.ttf'); font-weight: 700
            }
@font-face {
                font-family: "Roboto-Bold"; font-style: normal; src: url('@/assets/fonts/Roboto-Bold_1.ttf'); font-weight: 700
            }