.fill-2nd-primary50-59_1538 {
        background-color: rgba(241, 242, 248, 1)
      }
.fill-grayblack-5_81-paragraph {
        color: rgba(27, 29, 31, 1)
      }
.text-headerheading---3-5_134 {
        font-size: 32px;
font-family: "Public Sans-SemiBold";
font-weight: SemiBold;
letter-spacing: 0.0075em;
line-height: 40px
      }
.fill-gray600-5_83-paragraph {
        color: rgba(82, 86, 92, 1)
      }
.text-bodylarge400-5_144 {
        font-size: 20px;
font-family: "Public Sans-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 28px
      }
.fill-primary900-5_61-paragraph {
        color: rgba(6, 36, 27, 1)
      }
.fill-2nd-primary900-59_1547-text {
        color: rgba(33, 33, 47, 1)
      }
.text-display-5_137 {
        font-size: 56px;
font-family: "Public Sans-SemiBold";
font-weight: SemiBold;
letter-spacing: 0em;
line-height: 72px
      }
.fill-gray500-5_84 {
        background-color: rgba(109, 115, 122, 1)
      }
.fill-graywhite-5_90 {
        background-color: rgba(255, 255, 255, 1)
      }
.fill-gray700-5_82-paragraph {
        color: rgba(54, 58, 61, 1)
      }
.text-bodylarge500-5_143 {
        font-size: 20px;
font-family: "Public Sans-Medium";
font-weight: Medium;
letter-spacing: 0em;
line-height: 28px
      }
.text-headerheading---4-5_133 {
        font-size: 24px;
font-family: "Public Sans-SemiBold";
font-weight: SemiBold;
letter-spacing: 0.002em;
line-height: 32px
      }
.text-bodyregular500-5_148 {
        font-size: 16px;
font-family: "Public Sans-Medium";
font-weight: Medium;
letter-spacing: 0em;
line-height: 24px
      }
.fill-gray500-5_84-paragraph {
        color: rgba(109, 115, 122, 1)
      }
.fill-secondary500-5_75-paragraph {
        color: rgba(255, 194.014664, 122.187508, 1)
      }
.fill-graywhite-5_90-text {
        color: rgba(255, 255, 255, 1)
      }
.text-bodyregular400-5_149 {
        font-size: 16px;
font-family: "Public Sans-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 24px
      }
.fill-gray100-5_88-paragraph {
        color: rgba(207, 211, 214, 1)
      }
.text-bodyregular600-5_147 {
        font-size: 16px;
font-family: "Public Sans-SemiBold";
font-weight: SemiBold;
letter-spacing: 0em;
line-height: 24px
      }
.fill-graywhite-5_90-paragraph {
        color: rgba(255, 255, 255, 1)
      }
.stroke-secondary500-5_75 {
        border-color: rgba(255, 194.014664, 122.187508, 1)
      }
.fill-secondary500-5_75 {
        background-color: rgba(255, 194.014664, 122.187508, 1)
      }
.fill-2nd-primary500-59_1543-text {
        color: rgba(52, 97, 253, 1)
      }
.fill-gray700-5_82-text {
        color: rgba(54, 58, 61, 1)
      }
.text-headerheading---1-5_136 {
        font-size: 40px;
font-family: "Public Sans-SemiBold";
font-weight: SemiBold;
letter-spacing: 0em;
line-height: 48px
      }
.text-bodybody-xl-5_158 {
        font-size: 24px;
font-family: "Public Sans-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 32px
      }
.fill-gray500-5_84-text {
        color: rgba(109, 115, 122, 1)
      }
.fill-2nd-primary900-59_1547 {
        background-color: rgba(33, 33, 47, 1)
      }
.fill-gray50-5_89-paragraph {
        color: rgba(231, 233, 235, 1)
      }
.stroke-gray50-5_89 {
        border-color: rgba(231, 233, 235, 1)
      }
.fill-primary500-5_65-paragraph {
        color: rgba(32, 180, 134, 1)
      }
.fill-primary500-5_65 {
        background-color: rgba(32, 180, 134, 1)
      }
.fill-primary900-5_61-text {
        color: rgba(6, 36, 27, 1)
      }
.fill-primary50-5_70 {
        background-color: rgba(233, 248, 243, 1)
      }
.stroke-primary500-5_65 {
        border-color: rgba(32, 180, 134, 1)
      }
.fill-secondary50-5_80 {
        background-color: rgba(255, 250, 245, 1)
      }
.stroke-primary600-5_64 {
        border-color: rgba(26, 144, 107, 1)
      }
.stroke-primaryprimary-500-46_271 {
        border-color: rgba(42, 167, 84, 1)
      }
.fill-primaryprimary-500-46_271 {
        background-color: rgba(42, 167, 84, 1)
      }
