.stroke-gray20-36_1844 {
        border-color: rgba(226, 232, 240, 1)
      }
.fill-brand60-1257_33467-paragraph {
        color: rgba(79, 70, 229, 1)
      }
.text-text-mdbold-423_3205 {
        font-size: 16px;
font-family: "Plus Jakarta Sans-Bold";
font-weight: Bold;
letter-spacing: -0.006999999999999999em;
line-height: 22px
      }
.fill-gray80-32_4123-paragraph {
        color: rgba(30, 41, 59, 1)
      }
.text-text-lgbold-423_3202 {
        font-size: 18px;
font-family: "Plus Jakarta Sans-Bold";
font-weight: Bold;
letter-spacing: -0.008em;
line-height: 24px
      }
.stroke-brand60-1257_33467 {
        border-color: rgba(79, 70, 229, 1)
      }
.fill-brand5-1257_33460 {
        background-color: rgba(238, 242, 255, 1)
      }
.fill-gray60-83_2722-paragraph {
        color: rgba(71, 85, 105, 1)
      }
.text-text-mdmedium-5454_21606 {
        font-size: 16px;
font-family: "Plus Jakarta Sans-Medium";
font-weight: Medium;
letter-spacing: -0.006999999999999999em;
line-height: 22px
      }
.fill-gray5-32_4120 {
        background-color: rgba(248, 250, 252, 1)
      }
.text-heading-smextrabold-423_3188 {
        font-size: 30px;
font-family: "Plus Jakarta Sans-ExtraBold";
font-weight: ExtraBold;
letter-spacing: -0.013000000000000001em;
line-height: 38px
      }
.text-text-smmedium-5454_21607 {
        font-size: 14px;
font-family: "Plus Jakarta Sans-Medium";
font-weight: Medium;
letter-spacing: -0.006em;
line-height: 20px
      }
.fill-gray30-35_1481 {
        background-color: rgba(203, 213, 225, 1)
      }
.stroke-transparentwhite32-5571_36639 {
        border-color: rgba(255, 255, 255, 0.32)
      }
.fill-transparentblack32-5571_36671 {
        background-color: rgba(2, 6, 23, 0.32)
      }
.effect-blurbackgroundmd-5457_24370 {
        backdrop-filter: blur(5.333333333333333px)
      }
.text-text-smbold-423_3208 {
        font-size: 14px;
font-family: "Plus Jakarta Sans-Bold";
font-weight: Bold;
letter-spacing: -0.006em;
line-height: 20px
      }
.text-paragraphsm-20_2107 {
        font-size: 14px;
font-family: "Plus Jakarta Sans-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 160.000002%
      }
.fill-brand80-1257_33469-paragraph {
        color: rgba(55, 48, 163, 1)
      }
.fill-gray0-white-67_3285 {
        background-color: rgba(255, 255, 255, 1)
      }
.fill-avatar1-5468_692 {
        background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(./image/b8581a3a8f9a19b6eec05845c18e07081f487330.png)
      }
.stroke-gray0-white-67_3285 {
        border-color: rgba(255, 255, 255, 1)
      }
.text-text-mdextrabold-423_3204 {
        font-size: 16px;
font-family: "Plus Jakarta Sans-ExtraBold";
font-weight: ExtraBold;
letter-spacing: -0.006999999999999999em;
line-height: 22px
      }
.fill-brand60-1257_33467-text {
        color: rgba(79, 70, 229, 1)
      }
.fill-avatar7-5468_698 {
        background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(./image/6df56541631b7f389d1053d1ff98d1957595c5bb.png)
      }
.fill-avatar6-5468_697 {
        background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(./image/07c589d875ca1d4dc71aeebb1d8a1ed93749392a.png)
      }
.fill-avatar5-5468_696 {
        background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(./image/426b3343326d6354f03ae54f461dae1b7ffa76fd.png)
      }
.fill-avatar4-5468_695 {
        background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(./image/7c8eaeb85d1def44217c940aa20e833a1b84bc1a.png)
      }
.fill-avatar3-5468_694 {
        background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(./image/4e66a515dac8a94378699f4bf782106fd54950e5.png)
      }
.fill-avatar2-5468_693 {
        background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(./image/f5f81d70d410327c058da02305289e65f9cf57ad.png)
      }
.text-heading-mdextrabold-423_3185 {
        font-size: 36px;
font-family: "Plus Jakarta Sans-ExtraBold";
font-weight: ExtraBold;
letter-spacing: -0.013999999999999999em;
line-height: 44px
      }
.stroke-gray30-35_1481 {
        border-color: rgba(203, 213, 225, 1)
      }
.fill-brand60-1257_33467 {
        background-color: rgba(79, 70, 229, 1)
      }
.fill-gray0-white-67_3285-paragraph {
        color: rgba(255, 255, 255, 1)
      }
.fill-success50-1636_81205 {
        background-color: rgba(34, 197, 94, 1)
      }
.fill-gray10-83_2713 {
        background-color: rgba(241, 245, 249, 1)
      }
.effect-shadowmd-5457_24364 {
        box-shadow: 0px 4px 8px -2px rgba(23, 23, 23, 0.1) , 0px 2px 4px -2px rgba(23, 23, 23, 0.06) 
      }
.text-text-xssemibold-439_9521 {
        font-size: 12px;
font-family: "Plus Jakarta Sans-SemiBold";
font-weight: SemiBold;
letter-spacing: -0.005em;
line-height: 16px
      }
.fill-gray60-83_2722-text {
        color: rgba(71, 85, 105, 1)
      }
.text-paragraphmd-20_2106 {
        font-size: 16px;
font-family: "Plus Jakarta Sans-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 160.000002%
      }
.fill-gray80-32_4123 {
        background-color: rgba(30, 41, 59, 1)
      }
.fill-gray100-black-5502_9900 {
        background-color: rgba(0, 0, 0, 1)
      }
.stroke-brand20-1257_33462 {
        border-color: rgba(199, 210, 254, 1)
      }
.fill-brand20-1257_33462 {
        background-color: rgba(199, 210, 254, 1)
      }
.text-heading-xsextrabold-423_3192 {
        font-size: 24px;
font-family: "Plus Jakarta Sans-ExtraBold";
font-weight: ExtraBold;
letter-spacing: -0.012em;
line-height: 32px
      }
.text-text-smsemibold-423_3209 {
        font-size: 14px;
font-family: "Plus Jakarta Sans-SemiBold";
font-weight: SemiBold;
letter-spacing: -0.006em;
line-height: 20px
      }
.stroke-brand30-1257_33463 {
        border-color: rgba(165, 180, 252, 1)
      }
.fill-brand40-1257_33464 {
        background-color: rgba(129, 140, 248, 1)
      }
.text-text-xlextrabold-423_3198 {
        font-size: 20px;
font-family: "Plus Jakarta Sans-ExtraBold";
font-weight: ExtraBold;
letter-spacing: -0.01em;
line-height: 28px
      }
.fill-avatar11-5468_702 {
        background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(./image/e7fd34adb921d9aecdaea5a82a891a54764ab6ed.png)
      }
.fill-avatar10-5468_701 {
        background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(./image/5004b2eacad802fe58f4c97e2cd8f17047af43ee.png)
      }
.fill-avatar9-5468_700 {
        background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(./image/76f7c122b937ad8072d2657784e8a6ee46d0724c.png)
      }
.fill-avatar8-5468_699 {
        background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(./image/cb161d6ecdf857f87a8845a7e59e39d78d4bf2be.png)
      }
.fill-brand10-1257_33461 {
        background-color: rgba(224, 231, 255, 1)
      }
.fill-purple10-1257_33599 {
        background-color: rgba(243, 232, 255, 1)
      }
.fill-purple50-1257_33603 {
        background-color: rgba(168, 85, 247, 1)
      }
.fill-purple70-1257_33605 {
        background-color: rgba(126, 34, 206, 1)
      }
.fill-success10-1636_81201 {
        background-color: rgba(220, 252, 231, 1)
      }
.fill-orange10-5571_38374 {
        background-color: rgba(255, 237, 213, 1)
      }
.fill-teal10-5442_12422 {
        background-color: rgba(204, 251, 241, 1)
      }
.fill-pink10-5442_12412 {
        background-color: rgba(253, 242, 248, 1)
      }
.fill-lime10-5442_12700 {
        background-color: rgba(236, 252, 203, 1)
      }
.fill-destructive50-423_3219 {
        background-color: rgba(244, 63, 94, 1)
      }
.fill-warning50-423_3213 {
        background-color: rgba(245, 158, 11, 1)
      }
.fill-brand70-1257_33468 {
        background-color: rgba(67, 56, 202, 1)
      }
.fill-brand40-1257_33464-paragraph {
        color: rgba(129, 140, 248, 1)
      }
.fill-brand30-1257_33463 {
        background-color: rgba(165, 180, 252, 1)
      }
.fill-brand30-1257_33463-paragraph {
        color: rgba(165, 180, 252, 1)
      }
.fill-destructive60-438_3719 {
        background-color: rgba(225, 29, 72, 1)
      }
.fill-warning60-438_3718 {
        background-color: rgba(217, 119, 6, 1)
      }
.fill-success60-1636_81206 {
        background-color: rgba(22, 163, 74, 1)
      }
.fill-destructive10-423_3221 {
        background-color: rgba(255, 228, 230, 1)
      }
.fill-destructive50-423_3219-paragraph {
        color: rgba(244, 63, 94, 1)
      }
.fill-destructive20-438_3720 {
        background-color: rgba(254, 205, 211, 1)
      }
.fill-destructive40-32_4110 {
        background-color: rgba(251, 113, 133, 1)
      }
.fill-destructive40-32_4110-paragraph {
        color: rgba(251, 113, 133, 1)
      }
.fill-warning10-423_3215 {
        background-color: rgba(254, 243, 199, 1)
      }
.fill-warning50-423_3213-paragraph {
        color: rgba(245, 158, 11, 1)
      }
.fill-success50-1636_81205-paragraph {
        color: rgba(34, 197, 94, 1)
      }
.fill-warning20-428_4551 {
        background-color: rgba(253, 230, 138, 1)
      }
.fill-warning40-428_4549 {
        background-color: rgba(251, 191, 36, 1)
      }
.fill-warning40-428_4549-paragraph {
        color: rgba(251, 191, 36, 1)
      }
.stroke-destructive50-423_3219 {
        border-color: rgba(244, 63, 94, 1)
      }
.fill-destructive5-83_2719 {
        background-color: rgba(255, 241, 241.839996, 1)
      }
.stroke-warning50-423_3213 {
        border-color: rgba(245, 158, 11, 1)
      }
.fill-warning5-83_2717 {
        background-color: rgba(255, 251, 235, 1)
      }
.fill-success20-1636_81202 {
        background-color: rgba(187, 247, 208, 1)
      }
.fill-success40-1636_81204 {
        background-color: rgba(74, 222, 128, 1)
      }
.fill-success40-1636_81204-paragraph {
        color: rgba(74, 222, 128, 1)
      }
.stroke-success50-1636_81205 {
        border-color: rgba(34, 197, 94, 1)
      }
.fill-success5-1636_81199 {
        background-color: rgba(240, 253, 244, 1)
      }
.fill-destructive30-423_3220 {
        background-color: rgba(253, 164, 175, 1)
      }
.fill-destructive30-423_3220-paragraph {
        color: rgba(253, 164, 175, 1)
      }
.fill-warning30-32_4109 {
        background-color: rgba(252, 211, 77, 1)
      }
.fill-warning30-32_4109-paragraph {
        color: rgba(252, 211, 77, 1)
      }
.fill-gray60-83_2722 {
        background-color: rgba(71, 85, 105, 1)
      }
.fill-success30-1636_81203 {
        background-color: rgba(134, 239, 172, 1)
      }
.fill-success30-1636_81203-paragraph {
        color: rgba(134, 239, 172, 1)
      }
.stroke-gray40-83_2714 {
        border-color: rgba(148, 163, 184, 1)
      }
.stroke-destructive30-423_3220 {
        border-color: rgba(253, 164, 175, 1)
      }
.stroke-warning30-32_4109 {
        border-color: rgba(252, 211, 77, 1)
      }
.stroke-success30-1636_81203 {
        border-color: rgba(134, 239, 172, 1)
      }
.fill-gray20-36_1844 {
        background-color: rgba(226, 232, 240, 1)
      }
.fill-gray40-83_2714 {
        background-color: rgba(148, 163, 184, 1)
      }
.fill-gray40-83_2714-paragraph {
        color: rgba(148, 163, 184, 1)
      }
.fill-gray30-35_1481-paragraph {
        color: rgba(203, 213, 225, 1)
      }
.effect-focusring-brand-5459_24463 {
        box-shadow: 0px 0px 0px 4px rgba(79, 70, 229, 0.25) 
      }
.effect-focusring-destructive-1273_16756 {
        box-shadow: 0px 0px 0px 4px rgba(239, 68, 68, 0.25) 
      }
.effect-focusring-gray-1273_16760 {
        box-shadow: 0px 0px 0px 4px rgba(100, 116, 139, 0.25) 
      }
.text-text-xsbold-439_9520 {
        font-size: 12px;
font-family: "Plus Jakarta Sans-Bold";
font-weight: Bold;
letter-spacing: -0.005em;
line-height: 16px
      }
.stroke-gray60-83_2722 {
        border-color: rgba(71, 85, 105, 1)
      }
.fill-brand70-1257_33468-paragraph {
        color: rgba(67, 56, 202, 1)
      }
.fill-destructive60-438_3719-paragraph {
        color: rgba(225, 29, 72, 1)
      }
.stroke-brand70-1257_33468 {
        border-color: rgba(67, 56, 202, 1)
      }
.stroke-destructive60-438_3719 {
        border-color: rgba(225, 29, 72, 1)
      }
.stroke-warning60-438_3718 {
        border-color: rgba(217, 119, 6, 1)
      }
.stroke-success60-1636_81206 {
        border-color: rgba(22, 163, 74, 1)
      }
.effect-focusring-black-1273_16759 {
        box-shadow: 0px 0px 0px 4px rgba(42, 47, 65, 0.25) 
      }
.effect-focusring-warning-1273_16754 {
        box-shadow: 0px 0px 0px 4px rgba(255, 189, 26, 0.25) 
      }
.effect-focusring-success-1273_16758 {
        box-shadow: 0px 0px 0px 4px rgba(34, 197, 94, 0.25) 
      }
.fill-brand50-1257_33466 {
        background-color: rgba(99, 102, 241, 1)
      }
.fill-gray70-32_4121 {
        background-color: rgba(51, 65, 85, 1)
      }
.text-text-xsextrabold-439_9519 {
        font-size: 12px;
font-family: "Plus Jakarta Sans-ExtraBold";
font-weight: ExtraBold;
letter-spacing: -0.005em;
line-height: 16px
      }
.text-text-smextrabold-423_3207 {
        font-size: 14px;
font-family: "Plus Jakarta Sans-ExtraBold";
font-weight: ExtraBold;
letter-spacing: -0.006em;
line-height: 20px
      }
.text-text-lgextrabold-423_3201 {
        font-size: 18px;
font-family: "Plus Jakarta Sans-ExtraBold";
font-weight: ExtraBold;
letter-spacing: -0.008em;
line-height: 24px
      }
.text-text-2xlextrabold-423_3195 {
        font-size: 24px;
font-family: "Plus Jakarta Sans-ExtraBold";
font-weight: ExtraBold;
letter-spacing: -0.012em;
line-height: 32px
      }
.fill-brand10-1257_33461-paragraph {
        color: rgba(224, 231, 255, 1)
      }
.fill-brand20-1257_33462-paragraph {
        color: rgba(199, 210, 254, 1)
      }
.fill-gray20-36_1844-paragraph {
        color: rgba(226, 232, 240, 1)
      }
.fill-gray50-35_1480 {
        background-color: rgba(100, 116, 139, 1)
      }
.text-text-mdsemibold-423_3206 {
        font-size: 16px;
font-family: "Plus Jakarta Sans-SemiBold";
font-weight: SemiBold;
letter-spacing: -0.006999999999999999em;
line-height: 22px
      }
.stroke-brand50-1257_33466 {
        border-color: rgba(99, 102, 241, 1)
      }
.text-paragraphxs-20_2108 {
        font-size: 12px;
font-family: "Plus Jakarta Sans-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 160.000002%
      }
